<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.10/dist/vue.js"></script>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">

        var orgdata = [
            ['Task', 'Hours per Day'],
            ['도시락', 3], ['갈비탕', 2],
            ['오므라이스', 2], ['짬뽕', 2],
            ['비빔밥', 7], ['메밀소바', 3]
        ];

    </script>
</head>

<body>

    <div id="piechart" style="width: 900px; height: 500px;"></div>
    <div id="app">
        <list-component :listcomp="dataArray" @draw-chart="drawChart"></list-component>
    </div>

    <script>

        
        let vm =new Vue({
            el: '#app',
            data: {
                dataArray: orgdata
            },
            methods : {
                drawChart(list) {
                    if(list !=null){
                        for(let i = 0 ; i<this.dataArray.length; i++){
                        if(this.dataArray[i][0] == list[0] ) {
                            this.dataArray[i][1]++;
                        }
                    }
                }
                    
                var data = google.visualization.arrayToDataTable(this.dataArray);
                var options = {
                    title: 'My Daily Activities',
                    is3D: false
                };
                var chart = new google.visualization.PieChart(document.getElementById('piechart'));
                chart.draw(data, options);
            }
            },
            components : {
                'list-component' : {
                    template: `
                    <ul>
                    <li v-for="list in listcomp" v-if="list[0] != 'Task'">{{list[0]}}<button @click="vott(list)">vote</button></li>
                    </ul>
                    `,
                    props : ['listcomp'],
                    methods : {
                        vott : function(list) {
                            this.$emit('draw-chart', list);
                        }
                    }
                }
            }
            
        })

        google.charts.load('current', {
            'packages': ['corechart']
        });
        google.charts.setOnLoadCallback(vm.drawChart);

    </script>


</body>

</html>