<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>v02_gugudan.html</title>
  <script src="https://unpkg.com/vue@2"></script>
</head>
<body>
  <div id="app">
    <ul v-for="n in 4">{{n+1}}단
      <li v-for="m in 9" style="list-style: none;">{{n+1}} * {{m}} = {{(n+1)*m}}</li>
    </ul>
  </div>
  <table border="1">
          <thead>
            <th></th>
            <th v-for="head in dan">{{head}}</th>
          </thead>
          <tbody>
            <tr v-for="line in gugu">
              <th>{{line}}단</th>
              <td v-for="dan in dan">{{dan * line}}</td>
            </tr>
          </tbody>
        </table>
  <script>
    new Vue({
      el:'#app',
      data:{
        gugu: [2, 3, 4, 5],
        dan: [1, 2, 3, 4, 5, 6, 7, 8, 9]
      } 
    })
  </script>

</body>
</html>